body{
   margin: 20px auto;
   padding: 22px;
   font-size: 13px;
}
table{
    border: 1px solid #ccc;
    border-spacing: 0;
}
th{
    padding: 5px;
    border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
    background-color: #00cc00;
    color: #fff;
    font-weight: normal;
}

img{
    width: 18px;
    height: 13px;
    float: left;
    margin-right: 2px;
}
td{
    padding:10px;
    border-right: 1px solid #ccc;
	padding-right: 60px;
	padding-left: 10px;
}

tr:nth-child(2n+2){
    background-color: #FFE5A2;
}