p{
	dsiplay: block;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
}

.para{
	
	padding-left: 150px;
	
	font: italic bold 25px/30px Georgia, serif;
}
.para1{
	font-weight:bold;
	
}
 p br{
	margin-top:1;
	margin-bottom:1;
}
table tr td{
	border-width:3px;	
    border-style:inset;
	border-color: white;
	
}
table{
	border-collapse:collapse;
}

.img{
	padding-left:180px;
	padding-bottom:150px;

}